\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
coverage
default
Gemfile.lock
tmp
/.idea/*
/.idea
nbproject
pkg
*.sw?
spec/dummy
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
gemfiles/*.gemfile.lock
